//
  Copyright (C) Fabian Cook - All Rights Reserved
  Unauthorized copying of this file, via any medium is strictly prohibited
  Proprietary and confidential
  Written by Fabian Cook <fabian.cook@shipper.co.nz>, 6/11/14
div(layout="horizontal" id="general")
  div.column(flex=25 layout="vertical" layout-padding)
    md-button.md-raised.md-button Select a Customer
    md-text-float(label='SKU')
    md-text-float(label='Description')
    md-text-float(label='Description Extended')
  div.column(flex layout="vertical" layout-padding)
  div.column(flex layout="vertical" layout-padding)
    | Test
  div.column(flex layout="vertical" layout-padding)
    | Test