//
  Copyright (C) Fabian Cook - All Rights Reserved
  Unauthorized copying of this file, via any medium is strictly prohibited
  Proprietary and confidential
  Written by Fabian Cook <fabian.cook@shipper.co.nz>, 5/11/14
section.md-whiteframe-z1(id='product')
  md-tabs(selected='0')
    md-tab(label='General')
      div(ng-include="'app/product/tabs/general.html'")
    md-tab(label='Dimensions & Weight')
      div(layout='vertical' layout-fill)
        | Test
    md-tab(label='Additional Items')
      div(layout='vertical' layout-fill)
        | Test
    md-tab(label='Identification')
      div(layout='vertical' layout-fill)
        | Test