//
  Copyright (C) Fabian Cook - All Rights Reserved
  Unauthorized copying of this file, via any medium is strictly prohibited
  Proprietary and confidential
  Written by Fabian Cook <fabian.cook@shipper.co.nz>, 5/11/14
md-content.md-whiteframe-z3(id='home' layout="vertical" layout-align='center center space-between' scroll-y)
  h3(align='center') What would you like to do today?
  div(layout='vertical' layout-sm='horizontal' layout-align='center center space-between' flex)
    div(layout='vertical' layout-align='center center' flex)
      md-button.md-fab.large-lg
        md-icon.lgi(icon="images/icons/ic_local_shipping_48px.svg")
        md-icon.ulgi(icon="images/icons/ic_local_shipping_24px.svg")
      h4 Send Stock
    div(layout='vertical' layout-align='center center' flex)
      md-button.md-fab.large-lg
        md-icon.lgi(icon="images/icons/ic_store_mall_directory_48px.svg")
        md-icon.ulgi(icon="images/icons/ic_store_mall_directory_24px.svg")
      h4 Store Stock
    div(layout='vertical' layout-align='center center' flex)
      md-button.md-fab.large-lg
        md-icon.lgi(icon="images/icons/ic_extension_48px.svg")
        md-icon.ulgi(icon="images/icons/ic_extension_24px.svg")
      h4 Manage Items
    div(layout='vertical' layout-align='center center' flex)
      md-button.md-fab.large-lg
        md-icon.lgi(icon="images/icons/ic_trending_up_48px.svg")
        md-icon.ulgi(icon="images/icons/ic_trending_up_24px.svg")
      h4 Run Reports
  br.sm
  div(layout='vertical' layout-sm='horizontal' layout-align='center center space-between' flex)
    div(layout='vertical' layout-align='center center' flex)
      md-button.md-fab.large-lg
        md-icon.lgi(icon="images/icons/ic_account_child_48px.svg")
        md-icon.ulgi(icon="images/icons/ic_account_child_24px.svg")
      h4 Manage Clients
    div(layout='vertical' layout-align='center center' flex)
      md-button.md-fab.large-lg
        md-icon.lgi(icon="images/icons/ic_forum_48px.svg")
        md-icon.ulgi(icon="images/icons/ic_forum_24px.svg")
      h4 Manage Support
    div(layout='vertical' layout-align='center center' flex)
      md-button.md-fab.large-lg
        md-icon.lgi(icon="images/icons/ic_settings_48px.svg")
        md-icon.ulgi(icon="images/icons/ic_settings_24px.svg")
      h4 Change Settings



